<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mathedu.mathedu.teacherinfo.mapper.TeacherMapper">
    <select id="findTeacherInfoById" resultType="com.mathedu.mathedu.teacherinfo.dao.response.TeacherInfoDTO">
        select teacher_seq as no, teacher_id as id, CONCAT('/file/teacher/',teacher_img) as imageURL,
        teacher_status as status, teacher_regdt as regdt, teacher_name as name from teacher_info where teacher_id = #{teacherId}
    </select>
    <select id="getStudentListByTeacherNo" resultType="com.mathedu.mathedu.teacherinfo.dao.response.TeacherStudentInfoDTO">
        select * from student_info where stu_teacher_seq = #{no} limit 10 offset #{offset}
    </select>
</mapper>